<html>  
    <header>
        <script src="angular.min.js"></script>
        <script type="text/javascript">
        
        angular.module('app',[]).controller('ctrl',['$scope','$http',function($scope,$http){
            $scope.hello = 'hi';
            $scope.data = {};
            $http.get('/api').then(function(result){
                $scope.data = result.data;
            });
        }]);
        </script>
    </header>    
    <body ng-app="app" ng-controller="ctrl" >
        {{data.key}}
    </body>
</html>
